// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main {
  padding-top: 30px;
}


.profile-area {
  height: 300px;
  text-align: center;
}

.author-profile_image {
  display: inline-block;
  width: 110px;
  height: 110px;
}

